@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.header-container, .new-header {
  background: none;
  position: fixed;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  gap: 210px;
  z-index: 1;
  transition: all linear 0.1s;
}

.new-header {
  background: #c3c3c3;
  transition: all linear 0.1s;
  justify-content: space-between;
  gap: 0px !important;
  /* border-bottom: 1px solid black ; */
}

.logo {
  font-family: 'Comfortaa';
  margin-left: 50px;
  font-size: 45px;
  color: rgb(105, 76, 3);
}

.navbar {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-right: 60px;
}

.navbar .navlink , .responsive-nav .navlink, .active {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.active {
  color: rgb(105, 76, 3) !important;
}

.menubtn {
  display: none;
}

.responsive-nav {
  display: none;
}

.gototop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* box-shadow: 0px 45px 25px rgba(0, 0, 0, 0.55); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23.5px;
  position: fixed;
  top: 85%;
  left: 95%;
  opacity: 0.6;
}

.home-container {
  background-image: url(Homeimg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
}

.homemaintxt {
  font-size: 72.5px;
  font-family: 'Comfortaa';
  color: rgb(105, 76, 3);
  margin-bottom: 30px;
  margin-top: 200px;
  margin-left: 80px;
}

.homepara1, .homepara2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 80px;
}

.btndiv {
  width: 25%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px !important;
  margin-left: 80px;
  margin-bottom: 150px;
}

.loginbtn {
  width: 200px;
  height: 50px;
  border-radius: 35px;
  border: none;
  background-color: black;
  color: white;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0px 45px 25px rgba(0, 0, 0, 0.55);
}

.cartbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0px 45px 25px rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23.5px;
}

.menu-container,.service-container {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.service-container {
  background-color: #c3c3c3;
}

/* .menu-container .listofitems {
  width: 90%; 
} */

.menu-container .menu-inner-container, .service-container .service-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

label {
  font-size: 18px;
  display: inline-block;
}

.menu-container .menu-inner-container2, .service-container .service-inner-container2 {
  height: 80vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  width: 90%;
  padding-top: 10px;
  margin-bottom: 80px;
}

.service-container .service-inner-container2 {
  height: 90vh !important;
  margin-bottom: 10px;
}

.menu-container .menu-inner-container2::-webkit-scrollbar,.service-container .service-inner-container2::-webkit-scrollbar , .service-container .service-inner-container2 .servicelist::-webkit-scrollbar {
  display: none;
}

.menu-container .menu-inner-container2, .service-container .service-inner-container2 .servicelist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.selection {
  margin-top: 75px;
  width: 250px;
}

.mainmenutxt, .mainservicetxt {
  margin-top: 70px;
  font-family: 'Comfortaa';
  font-size: 55px;
  font-weight: bolder;
  color: rgb(105, 76, 3);
}

.menuitems-container {
  border-radius: 20px;
  position: relative;
  height: 200px;
}

.menuitems-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: brightness(50%);
}

.menuitems-container h3 {
  font-family: "Comfortaa";
  font-size: 17px;
  color: white;
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 5%;
  font-weight: bold;
}

.menuitems-container p {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 67%;
  left: 5.5%;
  color: white;
}

.menuitems-container .addtocart {
  color: white;
  background: none;
  border-radius: 20px;
  border: none;
  text-align: center;
  position: absolute;
  top: 82.5%;
  left: 5.5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.menuitems-container .addtocart:hover {
  color: rgb(255, 203, 72);
}

.about-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-container .about-inner-container {
  width: 90%;
  /* border: 1px black solid; */
}

.about-container .abouthead{
  display: flex;
  align-items: center;
  width: 67.5%;
  justify-content: flex-end;
  margin-top: 70px;
  margin-bottom: 25px;
}

/* .about-img-container ,.about-text-container{
  border: 1px solid black;
} */

.about-container .about-text-container{
  height: fit-content;
  /* border: 1px black solid; */
}

.about-container .abouthead .aboutheading {
  font-size: 55px;
  font-family: "Comfortaa";
  color: rgb(105, 76, 3);
}

.about-container .about-inner-container .about-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  /* gap: 10px; */
  position: relative;
}

/* .about-container .about-inner-container .about-img-container picture {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.about-container .about-inner-container .about-img-container img {
  height: 75vh !important;
  /* border: 1px solid black; */
}

.about-container .about-inner-container .about-text-container .aboutus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: relative;
}

.about-container .about-inner-container .about-text-container .aboutus .about-txtpart {
  width: 450px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  /* border: 1px solid black; */
}

.about-container .about-inner-container .about-text-container .aboutus .about-txtpart p {
  font-size: 15.5px;
}

.about-container .about-inner-container .about-text-container .aboutus .extra-info {
  display: flex;
  width: 500px;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}

.about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4 {
  font-family: "Comfortaa";
  font-size: 40px;
  color: rgb(105, 76, 3);
}

.about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info p {
  font-size: 15px;
}

.about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
  height: 50px;
  border-radius: 35px;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 400px;
}

.about-container .about-inner-container .about-text-container .aboutus .more-container {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

.about-container .about-inner-container .about-text-container .aboutus .more-container .reviewbtn , .about-container .about-inner-container .about-text-container .aboutus .more-container .morebtn{
  background: none;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  cursor: pointer;
}

.about-container .about-inner-container .about-text-container .aboutus .more-container .reviewbtn:hover , .about-container .about-inner-container .about-text-container .aboutus .more-container .morebtn:hover {
  color: rgb(105, 76, 3);
}

.about-container .about-inner-container .about-img-container .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
  position: absolute;
  flex-direction: column;
  top: 16%;
  left: 88%;
}

.about-container .about-inner-container .about-img-container .socials ion-icon {
  font-size: 40px;
  color: rgb(105, 76, 3);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.about-container .about-inner-container .about-img-container .socials ion-icon:hover {
  transform: scale(1.2);
}

/* .service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-direction: column;
} */

.service-container .servicehead {
  font-size: 55px;
  font-family: "Comfortaa";
  color: rgb(105, 76, 3);
}

.service-container .service-inner-container2 .servicelist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: scroll;
  width: 90% !important;
}

.service-container .service-inner-container2 .servicelist .servicecard {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 340px;
  background-color: white;
  text-align: center;
  gap: 10px;
  border-radius: 25px;
}

.service-container .service-inner-container2 .servicelist .servicecard div:nth-child(1) {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.service-container .service-inner-container2 .servicelist .servicecard div:nth-child(2) h5 {
  font-family: "Comfortaa";
  color: rgb(105, 76, 3);
  font-size: 20px;
}

.service-container .service-inner-container2 .servicelist .servicecard div:nth-child(3) {
  width: 300px;
  font-size: 13.5px;
  height: 125px;
  padding-left: 10px;
  padding-right: 10px;
}

.service-container .service-inner-container2 .servicelist .servicecard img {
  width: 300px;
  border-radius: 25px;
}

.service-container .service-inner-container2 .servicelist .servicecard button {
  width: 100px;
  height: 35px;
  background-color: black;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  color: white;
}

.contact-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px !important;
}

.contact-heading {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: rgb(105, 76, 3);
  gap: 20px;
  height: fit-content;
  padding-left: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mainheadcontact {
  font-size: 32.5px;
  font-family: "comfortaa";
  color: white;
  margin-top: 45px;
  margin-bottom: 50px;
}

.address {
  width: 340px;
  font-size: 18px;
  color: white;
  margin-bottom: 25px;
}

.phoneno, .email {
  font-size: 18px;
  color: white;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialmedia {
  width: 300px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}

.socialmedia ion-icon {
  font-size: 40px;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.socialmedia ion-icon:hover {
  transform: scale(1.2);
}

/* .contact-inner-container img{
  width: 400px;
} */

.contact-headandimg {
  display: flex;
  flex-direction: column;
}

.innerchild-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerchild-contact label {
  font-size: 16px;
  color: rgb(105, 76, 3);
}

.innerchild-contact input {
  height: 40px;
  font-size: 15px;
  outline: none;
  background: none;
  border-bottom: 1px rgb(105, 76, 3) solid !important;
  border: none;
  width: 340px;
}

.allcontactinfo {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: rgb(105, 76, 3);
}

.allcontactinfo h4 {
  font-family: "Comfortaa";
  font-size: 40px;
  text-align: center;
}

/* form {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 60%;
} */

.contact-details1, .contact-details2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact-details3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-details3 textarea {
  resize: none;
  height: 100px;
  border: 1px solid rgb(105, 76, 3);
  outline: none;
  border-radius: 20px;
  padding-left: 20px;
  width: 700px;
}

.contact-details3 button {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
}

.footer-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 100px !important;
  /* box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); */
  /* border-top: 1px solid rgb(105, 76, 3); */
}

.innerfooter h1 {
  font-size: 40px;
  color: rgb(105, 76, 3);
  font-family: "Comfortaa";
}

/* .footer-container .innerfooter {
  display: flex;
  justify-content: center;
} */

.innerfooter {
  margin-top: 35px !important;
}

.innerfooter:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.innerfooter h3 {
  font-size: 22.5px;
  color: rgb(105, 76, 3);
  font-family: "Comfortaa";
}

.innerfooter a {
  text-decoration: none;
  color: black;
}

.innerfooter a:hover {
  color: rgb(105, 76, 3);
}

.innerfooter ion-icon {
  font-size: 30px;
  color: rgb(105, 76, 3);
  transition: ease-in-out all 0.2s;
  cursor: pointer;
}

.innerfooter ion-icon:hover {
  transform: scale(1.2);
}

.innerfooter input {
  height: 40px;
  border: 2px solid rgb(105, 76, 3);
  outline: none;
  width: 300px;
  border-radius: 20px;
  padding-left: 10px;
}

.innerfooter button {
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100px;
  border-radius: 20px;
}

.endfooter {
  border-top: 1px rgb(105, 76, 3) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.nothing {
  display: none;
}

@media (max-width:1240px){
  .header-container {
    gap: 150px;
  }

  .about-container .about-inner-container .about-img-container img {
    height: 65vh !important;
  }

  .about-container .about-inner-container .about-img-container .socials {
    gap: 30px;
  }

  .innerfooter input {
    width: 250px;
  }
}

@media (max-width:1200px){
  .logo{
   font-size: 42px !important;
  }

  .home-container {
    height: fit-content;
  }

  .homemaintxt {
    font-size: 70px;
    margin-left: 70px;
  }

  .homepara1, .homepara2 {
    margin-left: 70px;
    font-size: 20px;
  }

  .loginbtn {
    width: 185px;
    height: 45px;
    font-size: 15.5px;
  }

  .cartbtn {
    width: 45px;
    height: 45px;
    font-size: 23.5px;
  }

  .btndiv{
    margin-left: 50px;
    width: 28%;
  }

  .gototop {
    left: 92.5%;
  }

  .about-container .about-inner-container .about-text-container .aboutus .about-txtpart p{
    font-size: 14px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4{
    font-size: 35px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .extra-info {
    width: 400px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
    width: 350px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .more-container {
    width: 400px;
  }

  .mainheadcontact {
    font-size: 30px;
  }

  .address {
    width: 300px;
    font-size: 18px;
  }

  .socialmedia {
    width: 250px;
  }

  .innerchild-contact input {
    width: 300px;
  }

  .contact-details3 textarea {
    width: 620px;
  }
}

@media (max-width:1024px){

  .header-container {
    gap: 120px;
  }

  .navbar{
    width: 32%;
  }

  .navbar .navlink , .active{
    font-size: 18px;
  }

  .home-container {
    height: fit-content;
  }

  .homemaintxt {
    font-size: 67.5px;
    margin-left: 65px;
  }

  .homepara1, .homepara2 {
    margin-left: 65px;
    font-size: 19px;
  }

  .btndiv {
    width: 32%;
    margin-left: 65px;
  }

  .mainmenutxt ,.about-container .abouthead .aboutheading , .mainservicetxt {
    font-size: 52px;
  }

  .gototop {
    left: 92%;
  }

  .about-container .about-inner-container .about-img-container img {
    height: 60vh !important;
  }

  .about-container .about-inner-container .about-img-container .socials {
    gap: 35px;
    top: 8%;
    left: 10%;
  }

  .about-container .about-inner-container .about-img-container .socials ion-icon {
    font-size: 30px;
  }

  .innerfooter input {
    width: 200px;
  }
}

@media (max-width:992px){
    .logo{
      font-size: 38px !important;
    }

    .home-container {
      height: fit-content;
    }

    .homemaintxt {
      font-size: 65px;
      margin-left: 60px;
    }  
    
    .homepara1, .homepara2 {
      margin-left: 60px;
      font-size: 18px;
    }

    .loginbtn {
      width: 170px;
      height: 40px;
      font-size: 13px;
    }
  
    .cartbtn {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }

    .btndiv {
      width: 32%;
      margin-left: 60px;
    }

    .mainmenutxt , .about-container .abouthead .aboutheading, .mainservicetxt {
      font-size: 50px;
    }

    .about-container .about-inner-container .about-text-container .aboutus .about-txtpart {
      width: 400px;
    }

    .about-container .about-inner-container .about-text-container .aboutus .about-txtpart p{
      font-size: 12px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4{
      font-size: 25px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .extra-info {
      width: 400px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
      width: 350px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .more-container {
      width: 400px;
    }

    .about-container .about-inner-container .about-img-container .socials {
      gap: 30px;
      top: 5%;
    }

    .allcontactinfo h4 {
      margin-top: 50px;
    }

    .mainheadcontact {
      font-size: 40px;
    }

    .socialmedia {
      width: 400px;
    }
}

@media (max-width:960px){
  .innerfooter input {
    width: 300px;
  }

  .innerfooter:nth-child(1), .innerfooter:nth-child(2) {
    margin-bottom: 55px;
  }

  .contact-heading {
    align-items: center;
    text-align: center;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0;
  }

  .about-container {
    margin-top: 55px;
  }
}

@media (max-width:850px){

  .header-container {
    gap: 100px;
  }

  .navbar{
    width: 32%;
  }

  .navbar .navlink, .active {
    font-size: 16px;
  }

  .home-container {
    height: fit-content;
  }

  .btndiv{
    width: 40%;
  }

  .about-container .about-inner-container .about-text-container .aboutus .about-txtpart {
    width: 500px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .about-txtpart p{
    font-size: 15.5px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4{
    font-size: 40px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .extra-info {
    width: 500px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
    width: 450px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .more-container {
    width: 500px;
  }
}

@media (max-width:780px){
  .logo{
      font-size: 35px !important;
     }

     .header-container {
      gap: 80px;
    }
  
    .navbar{
      width: 32%;
    }
  
    .navbar .navlink, .active {
      font-size: 14px;
    }

    .home-container {
      height: fit-content;
    }

    .homemaintxt {
      font-size: 55px;
      margin-left: 50px;
    }

    .homepara1, .homepara2 {
      margin-left: 50px;
      font-size: 15px;
    }

    .btndiv {
      width: 38%;
      margin-left: 50px;
    }

    .mainmenutxt,.about-container .abouthead .aboutheading, .mainservicetxt {
      font-size: 47px;
    }
}

@media (max-width:670px){

  .home-container {
    background-image: url(Homeimg2.jpg);
    height: fit-content;
  }

  .homemaintxt {
    margin-top: 150px;
  }

  .navbar{
    display: none;
  }

  .navbar .navlink {
    display: none;
  }

  .responsive-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #c3c3c3;
    transition: ease-in-out 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .responsive-nav .navlink , .responsive-nav .active {
    font-size: 18px;
  }
  
  .responsive-nav .navlink:nth-child(1), .responsive-nav .active:nth-child(1) {
    margin-top: 25px;
  }
  
  .responsive-nav .navlink:nth-child(3), .responsive-nav .active:nth-child(3) {
    margin-bottom: 25px;
  }

  .header-container, .new-header {
    justify-content: space-between;
    gap: 0;
  }

  .menubtn , .newmenubtn{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 40px;
  }

  .newmenubtn {
    position: absolute;
    top: 10%;
    left: 80%;
  }

  .btndiv {
    width: 45%;
    margin-bottom: 200px;
  }

  .gototop {
    left: 88%;
  }

  .service-container .service-inner-container2 {
    width: 95% !important;
  }

  .service-container .service-inner-container2 .servicelist {
    width: 95% !important;
  }

  /* .about-container .about-inner-container .about-img-container .socials {
    gap: 35px;
    top: 25%;
  }

  .about-container .about-inner-container .about-img-container .socials ion-icon {
    font-size: 35px;
  } */

  .contact-details1, .contact-details2 {
    flex-direction: column;
  }

  .innerchild-contact input {
    width: 440px;
  }

  .contact-details3 textarea {
    width: 450px;
  }

  .innerfooter input {
    width: 250px;
  }
}

@media (max-width:576px){
  .logo{
      font-size: 32px !important;
     } 
     
     .navbar .navlink , .active {
      font-size: 20px;
    }

    .menubtn, .newmenubtn {
      height: 37px;
      width: 37px;
      font-size: 23.5px;
    }

    .home-container {
      height: fit-content;
    }

    .homemaintxt {
      font-size: 50px;
      margin-left: 40px;
    }

    .homepara1, .homepara2 {
      margin-left: 40px;
      font-size: 12.5px;
    }

    .btndiv{
      margin-left: 40px;
      width: 50%;
      margin-bottom: 180px;
    }

    .loginbtn {
      width: 155px;
      height: 36px;
      font-size: 11px;
    }
  
    .cartbtn {
      width: 36px;
      height: 36px;
      font-size: 18px;
    }

    .menu-container .menu-inner-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .selection {
      margin-top: 45px;
      margin-bottom: 10px;
    }

    .gototop {
      left: 86%;
    }

    .about-container .about-inner-container .about-img-container img {
      height: 55vh !important;
    }

    /* .menubtn, .newmenubtn {
      top: 3.5%;
    } */

    .about-container .abouthead {
      justify-content: center;
    }

    .about-container .about-inner-container .about-text-container .aboutus .about-txtpart {
      width: 400px;
    }

    .about-container .about-inner-container .about-text-container .aboutus .about-txtpart p{
      font-size: 12px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4{
      font-size: 25px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .extra-info {
      width: 400px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
      width: 350px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .more-container {
      width: 400px;
    }

    .about-container .about-inner-container .about-img-container .socials {
      gap: 35px;
      top: 25%;
    }

    .about-container .about-inner-container .about-img-container .socials ion-icon {
      font-size: 35px;
    }

    .mainheadcontact {
      font-size: 35px;
    }

    .socialmedia {
      width: 300px;
    }

    .innerfooter h1 {
      font-size: 35px;
    }

    .innerfooter ion-icon {
      font-size: 25px;
    }

    .innerfooter input {
      width: 200px;
    }
}

@media (max-width:450px){

  .menubtn, .newmenubtn {
    height: 35px;
    width: 35px;
    font-size: 22px;
  }

  .home-container {
    height: fit-content;
  }

    .btndiv {
      width: 65%;
      margin-bottom: 180px;
    }

    .gototop {
      left: 84%;
    }

    .about-container .about-inner-container .about-img-container img {
      height: 50vh !important;
    }

    /* .menubtn ,.newmenubtn {
      top: 3.7%;
    } */

    .about-container .about-inner-container .about-img-container .socials ion-icon {
      font-size: 30px;
    }

    .about-container .about-inner-container .about-img-container .socials {
      gap: 30px;
    }

    .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info h4{
      font-size: 20px;
    }

    .about-container .about-inner-container .about-text-container .aboutus .extra-info .inner-info p{
      font-size: 12px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .extra-info {
      width: 400px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
      width: 300px;
    }
  
    .about-container .about-inner-container .about-text-container .aboutus .more-container {
      width: 350px;
    }

    .allcontactinfo h4 {
      font-size: 35px;
    }

    .innerchild-contact input {
      width: 380px;
    }
  
    .contact-details3 textarea {
      width: 380px;
    }

    .innerfooter input {
      width: 180px;
    }

    .innerfooter h3 {
      font-size: 18px;
    }

    .innerfooter a {
      font-size: 12.5px;
    }
}

@media (max-width:400px) {
  .logo {
      font-size: 30px !important;
  }

  .navbar .navlink, .active{
    font-size: 20px;
  }

  .menubtn, .newmenubtn {
    height: 32px;
    width: 32px;
    font-size: 20px;
  }

  .home-container {
    height: fit-content;
  }

  .homemaintxt {
    font-size: 40px;
    margin-left: 30px;
  }

  .homepara1, .homepara2 {
    margin-left: 30px;
    font-size: 11px;
  }

  .btndiv{
    margin-left: 30px;
    width: 65%;
    margin-bottom: 180px;
  }

  .about-container .about-inner-container .about-img-container img {
    height: 45vh !important;
  }

  /* .menubtn , .newmenubtn {
    top: 3.8%;
  } */

  .about-container .about-inner-container .about-text-container .aboutus .extra-info {
    width: 350px;
  }

  .about-container .about-inner-container .about-img-container .socials ion-icon {
    font-size: 25px;
  }

  .mainheadcontact {
    font-size: 32.5px;
  }

  .socialmedia {
    width: 300px;
  }

  .endfooter div {
    font-size: 14px;
  }
}

@media (max-width:380px) {
  .logo {
      font-size: 30px !important;
  }

  .navbar .navlink, .active {
    font-size: 20px;
  }

  .home-container {
    height: fit-content;
  }

  .homemaintxt {
    font-size: 40px;
    margin-left: 30px;
  }

  .homepara1, .homepara2 {
    margin-left: 30px;
    font-size: 11px;
  }

  .btndiv{
    margin-left: 30px;
    width: 70%;
    margin-bottom: 180px;
  }

  .gototop {
    left: 82%;
  }

  .about-container .about-inner-container .about-img-container img {
    height: 40vh !important;
  }

  /* .menubtn, .newmenubtn {
    top: 3.9%;
  } */

  .about-container .about-inner-container .about-text-container .aboutus .about-txtpart {
    width: 300px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .extra-info {
    width: 325px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .more-container {
    width: 300px;
  }

  .about-container .about-inner-container .about-text-container .aboutus .carrierbtn {
    width: 250px;
    font-size: 15px;
  }

  .about-container .about-inner-container .about-img-container .socials {
    gap: 25px;
  }

  .innerchild-contact input {
    width: 325px;
  }

  .contact-details3 textarea {
    width: 325px;
  }

  .allcontactinfo h4 {
    font-size: 28px;
  }

  .mainheadcontact {
    font-size: 29px;
  }

  .socialmedia {
    width: 250px;
  }

  .innerfooter h1 {
    font-size: 30px;
  }

  .innerfooter ion-icon {
    font-size: 20px;
  }

  .innerfooter input {
    width: 160px;
  }

  .innerfooter h3 {
    font-size: 15px;
  }

  .innerfooter a {
    font-size: 11px;
  }

  .endfooter div {
    font-size: 12.5px;
  }
}

